<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ianhook.android.ocrmanga"
    android:versionCode="1"
    android:versionName="1.0"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:largeHeap="true"
        tools:node="replace">
        <service android:name="com.googlecode.eyesfree.ocr.service.OcrService" >
            <intent-filter>
                <action android:name="com.googlecode.eyesfree.ocr.intent.SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.ianhook.android.ocrmanga.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.ianhook.android.ocrmanga.ImagePagerActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ianhook.android.ocrmanga.FileBrowserActivity" />
        </activity>
        <activity
            android:name="com.ianhook.android.ocrmanga.FileBrowserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ianhook.android.ocrmanga.ImagePagerActivity"
            android:label="@string/title_activity_image_pager"
            android:parentActivityName="com.ianhook.android.ocrmanga.MainActivity" 
            android:theme="@style/ImageOverlayActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ianhook.android.ocrmanga.FileBrowserActivity" />
        </activity>
    </application>

</manifest>
